*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #04112b;
}
body{
    overscroll-behavior: none;
    background-color: #04112b;
}
#root{
    width: 100%;
    min-height: 100%;
}
body{
    margin: 0;
    background-color: hsl(0, 0%, 90%);
}
.movies-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 90%);
    background-color: hsl(221, 39%, 11%);
    display: flex;
    text-align: center;
    justify-self: center;
    margin-bottom: 20px;
    font-size: 1.6rem;
    border-radius: 7px;
    border: 1px solid 
}