nav{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    background-color: hsl(221, 39%, 11%);
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}
nav a:hover{
    color: hsl(48, 96%, 53%);
    transition: color 0.3s ease;
}